
<h2><%=@question.question_title%></h2>
<h3><%=@question.question_text%></h3>
<%=form_for Result.new(role: @quiz.role(@current_user), question: @question) do |f|%>
<p><%=f.collection_select :answer_id , @question.answers, :id, :answer_text%></p>
<%=f.hidden_field :role_id%>
<%=f.hidden_field :question_id%>
<%=f.submit 'Next', class: 'btn btn-green btn-block btn-flat'%>

<%end%>
