<div class="container mt-4">
    <h3><%="#{@user.first_name}'s Profil"%></h3>
    <div class="row">
        <div class="col-8 no-right-padding">
            <div class="card card-header results-block">
                <table class="col-md-12">
                    <tbody>
                        <tr>
                            <td><strong>Name: </strong> <%= @user.full_name%></td>
                            <td><strong>E-Mail: </strong> <%= @user.email%></td>
                            <td><strong>Firma: </strong> <%= @user.firm%></td>
                            <td><strong>Rolle: </strong> <%= @user.roles_name%></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <% if  @user == current_user %>
            <%= link_to fa_icon('angle-left fw',text:"Zur Übersicht"), users_path, class:"btn btn-info mt-2"%>
            <%= link_to fa_icon('edit fw',text:"Profil bearbeiten"), edit_user_registration_path, class:"btn btn-info mt-2"%>
            <% else %>
            <%= link_to fa_icon('angle-left fw',text:"Zur Übersicht"), users_path, class:"btn btn-info mt-2"%>
            <% end %>
            <% if current_user.has_role? :Admin %>
            <%= link_to "Profil löschen", @user, class: "btn btn-outline-danger mt-2", method: :delete, data: { confirm: "Bist du dir sicher?" } %>
            <%end%>
        </div>
    </div>
</div>