<%=form_for @answer do |f| %> <%=f.hidden_field :question_id %>
<p>
  <%=f.label "Antworttext" %><%=f.text_field :answer_text, class:
  'form-control', placeholder: 'Antwort eingeben'%>
</p>
<div class="form-group">
<div class="form-row">
<p><%=f.label "Punkte" %><%=f.number_field :points, in: 0..5, step: 1, class: 'special_input m-2', placeholder: '0'%></p>
<p><%=f.label "Gewichtungsfaktor" %><%=f.number_field :point_weighting, in: 0..2, step: 0.5, class: 'special_input m-2', placeholder: '0'%></p>
</div>
</div>
<%=f.submit 'Antwort speichern', class: 'btn btn-info mb-3'%> <%end%>