<nav class="navbar border-bottom navbar-expand-lg">
    <div class="container">
        <% if current_user %>
        <%= link_to fa_icon('shield-alt fw', text: 'CyReSeal'), root_path, class:"navbar-brand"%>
        <ul class="navbar-nav">
            <li class="nav-item <%= 'active' if current_page?(users_path)%>">
                <%= link_to users_path, class:"nav-link" do %>
                <%= fa_icon('suitcase fw') %>
                <span>Teilnehmer</span>
                <% end %>
            </li>
            <li class="nav-item <%= 'active' if current_page?(quizzes_path)%>">
                <%= link_to quizzes_path, class:"nav-link" do %>
                <%= fa_icon('file-alt fw') %>
                <span>Fragebögen</span>
                <% end %>
            </li>
            <li class="nav-item <%= 'active' if current_page?(results_path)%>">
                <%= link_to results_path, class:"nav-link" do %>
                <%= fa_icon('poll-h fw') %>
                <span>Bewertungen</span>
                <% end %>
            </li>
            <% if current_user.has_role? :Admin %>
            <li class="nav-item <%= 'active' if current_page?(new_quiz_path)%>">
                <%= link_to new_quiz_path, class:"nav-link" do %>
                <%= fa_icon('plus-circle fw') %>
                <span>Neuer Fragebogen</span>
                <% end %>
                <% else %>
            <li class="nav-item <%= 'active' if current_page?(new_quiz_path)%>">
                <%= link_to "#", class:"nav-link disabled" do %>
                <%= fa_icon('user-lock fw') %>
                <span>Neuer Fragebogen</span>
                <% end %>
                <% end %>
            </li>
        </ul>
        <% else %>
        <ul class="navbar-nav ml-auto">
            <li><%= link_to fa_icon('sign-in-alt fw',text:"Anmelden"), new_user_session_path, class:"nav-link mr-5" %>
            </li>
            <li class="nav-item <%= 'active' if request.path == about_path%>">
                <%= link_to fa_icon('info-circle fw', text: "About"), about_path, class:"nav-link"%>
            </li>
        </ul>
        <%end%>
        <% if current_user %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item user-name">
                <%= link_to fa_icon('user fw', text: "#{current_user.full_name}"), current_user, class:"nav-item user-name"%>
            </li>
            <li class="nav-item">
                <%= link_to fa_icon('sign-out-alt fw', text: "Abmelden"),  destroy_user_session_path, method: :delete, class:"nav-link" %>
            </li>
        </ul>
        <% end%>
    </div>
</nav>